<!DOCTYPE html>
<html>
  <head>
    <title>Artistre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-white-ter">
  <nav class = 'navbar'>
    <div class = 'navbar-brand'>
    <%= link_to login_path, class: 'navbar-item' do %>
    <span class='icon is-medium'>
    <i class='mdi mdi-music-clef-alto mdi-36px has-text-primary'></i>
    </span>
     <span class='is-family-monospace has-text-weight-bold'> ArtistRe </span>
    <%end%>
    </div>
    <div class = 'navbar-menu'>
      <div class = 'navbar-start'>
      <% if session[:artist_id] != nil %>

          <%= link_to artist_path(session[:artist_id]), class: 'navbar-item' do %>
            <span class='icon has-text-info'>
            <i class='mdi mdi-account-circle mdi-24px'></i>
            </span>
            <span> Profile </span>
          <%end%>

          <%= link_to new_artist_session_path(session[:artist_id]), class: 'navbar-item' do %>
          <span class='icon has-text-success'>
          <i class='mdi mdi-music-note-plus mdi-24px'></i>
          </span>
          <span> New Session </span>
          <% end %>

      <% end %>

          <%= link_to studios_path, class: 'navbar-item' do %>
            <span class='icon has-text-warning'>
              <i class='mdi mdi-microphone-variant mdi-24px'></i>
            </span>
            <span> Studios </span>
          <% end %>
        </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
