<!DOCTYPE html>
<html>
  <head>
    <title>Artistre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class = 'navbar'>
    <div class = 'navbar-brand'>
    <%= link_to "ArtistRe", login_path, class: 'navbar-item' %>
    </div>
    <div class = 'navbar-menu'>
      <div class = 'navbar-start'>
      <% if session[:artist_id] != nil %>
          <%= link_to "Profile", artist_path(session[:artist_id]), class: 'navbar-item' %>
          <% end %>
          <%= link_to "Studios", studios_path, class: 'navbar-item' %>
        </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
